<div class="container new-container">
    <h1>Create a new Fighter here!</h1>
    <h3>Your New Fighter will be of Tier: <%= @fighter.rating %></h3>
    <%= render("form", fighter: @fighter) %>
</div>
