<h1>Fighter : <%= @fighter.name %></h1>
<%= link_to "delete", fighter_path(@fighter), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to "edit", edit_fighter_path(@fighter) %>
