.container-body-fighter {
  width: 100vw;
  height: auto;
  background-image: asset-url('background.png');
  background-size: cover;
  padding-bottom: 20px;
}

.action-request {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

#accepted-status {
  padding: 5px;
  background-color: green;
  border-radius: 5px;
  position: relative;
  bottom: 10px;
}

#rejected-status {
  padding: 5px;
  background-color: rgb(255, 75, 75);
  border-radius: 5px;
  position: relative;
  bottom: 10px;
}
