<div class="container-body">
  <div class="container">
    <div class="card-fighter-menu">
      <div class="card-fighter-gif">
        <%= image_tag "left-fighter.gif" %>
      </div>
      <div class="card-menu">
        <ul>
          <li>Create your Fighter</li>
          <li>Pick your Fighter</li>
          <li>LET'S FIGHT</li>
        </ul>
      </div>
      <div class="card-fighter-gif">
        <%= image_tag "right-fighter.gif" %>
      </div>
    </div>
  </div>
</div>
