<div class="container-body">
  <div class="container">
    <div class="card-fighter-menu">
      <div class="card-fighter-gif">
        <%= image_tag "left-fighter.gif" %>
      </div>
      <div class="card-menu">
        <ul>
          <%= link_to new_fighter_path do %>
            <li>Create your Fighter</li>
          <% end %>
          <%= link_to fighters_path do %>
            <li>Pick your Fighter</li>
          <% end %>
          <li id="disabled">LET'S FIGHT <br><p>Coming Soon!</p></li>
        </ul>
      </div>
      <div class="card-fighter-gif">
        <%= image_tag "right-fighter.gif" %>
      </div>
    </div>
  </div>
</div>
