.footer-container {
  background: black;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;

  h5 {
    color: white;
    font-size: 12px;
    padding: 20px;
  }
}

.icons-container {
  color: white;
  display: flex;
  font-size: 20px;
  padding: 20px;

  .fa-brands {
    padding-left: 10px;
  }
}
