.navbar-container {
  justify-content: space-between;
  background: black;
  display: flex;
  height: 60px;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navbar-container h2 {
  color: red;
  font-family: 'Rubik Wet Paint', cursive;
  font-style: italic;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  justify-content: space-between;
}

.btn-container a {
  text-decoration: none;

  &:hover {
    color: gray;
  }
}

.credit-avatar {
  display: flex;
  margin: 0;

  p {
    margin: 0;
    color: white;
  }
}

.dropdown-item {
  color: black;
}

.nav-link {
  color: white;
  width: auto;
  margin-right: 10px;

}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
