.navbar-container {
  justify-content: space-between;
  background: black;
  display: flex;
  height: 60px;
  align-items: center;
  position: sticky;
  top: 0px;
}

.navbar-container h2 {
  color: red;
  font-family: 'Rubik Wet Paint', cursive;
  font-style: italic;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  justify-content: space-between;
}

.btn-container a {
  text-decoration: none;

  &:hover {
    color: gray;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-item {
  color: black;
}
