.container-body-index {
  width: 100vw;
  height: auto;
  background-image: asset-url('background.png');
  background-size: cover;
}

h1 {
  text-align: center;
  padding: 30px;
  font-family: 'Rubik';
  font-weight: bold;
}

.select-screen-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;

}

.yugioh-card {
  background-image: asset-url('card-standard.png');
  background-size: cover;
  width: 450px;
  height: 600px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fighter-image {
  // Width, Height, Left, Top - Values chosen based on 400x650 Card Templates
  position: absolute;
  width: 338px;
  height: 309px;
  left: 53px;
  top: 108px;
  border: 3px solid black;

  img {
    width: 100%;
    height: 100%;
  }
}

.hover_character {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// hover stats display
.fighter.name{
  position: absolute;
  font-size: 23px;
  font-size: 1.3vw;
  overflow: hidden;
  font-family: 'Rubik Wet Paint', cursive;
  position: absolute;
  top: 31px;
  left: 50px;
  width: 70%;
}

.fighter-info {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 41px;
  left: 41px;
  width: 82%;
  height: 104px;
  font-family: 'New Rocker';

  .description {
    width: 80%;
    overflow: hidden;
    line-break: strict;
    padding-left: 5px;
    padding-top: 6px;
  }

  .stats {
    width: 20%;
    text-align: left;
    padding-left: 15px;
  }
}

.search-bar {

}


.character-select {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-right: 100px;
}

.all-characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;

  .character-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 3px solid black;
    //background-image: asset-url("avatar-frame.png");
    //background-size: cover;

    :hover {
      border: 3px solid red;
    }

    .new {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
