.container-body-index {
  width: 100vw;
  height: auto;
  background-image: asset-url('background.png');
  background-size: cover;
}

.select-screen-container {
  display: flex;
  justify-content: space-around;

}

.yugioh-card {
  background-image: asset-url('card-standard.jpg');
  width: 469px;
  height: 682px;
}


.hover_character {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    margin-top: 30px;
    background-color: red;
    border-radius: 5px;
  }
}

.character_select {
  display: flex;
  flex-direction: column;
  width: 50vw;

}


.all_characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;


  .character_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;


    &.new {
      color: black;
    }

    &.existing {
      color: black;
    }

  }

  a {
    color: black;
    &:hover {
      color: red;
    }
  }
}

h1 {
  text-align: center;
  padding: 30px;
  font-family: 'rubik';
}
