<div class="footer-container">
  <div>
    <h5>© Hire Your Fighter, Inc. All rights reserved</h5>
  </div>
  <div class="icons-container">
    <i class="fa-brands fa-facebook-messenger"></i>
    <i class="fa-brands fa-whatsapp"></i>
    <i class="fa-brands fa-twitch"></i>
    <i class="fa-brands fa-tiktok"></i>
  </div>
</div>
