<div class="navbar-container">
  <div class="logo-container">
  <%= link_to root_path do %>
    <img src="https://hyfdistribuciones.com.ar/wp-content/uploads/2021/08/hyf_logo.png" alt="logo" class="logo">
  <% end %>
  </div>
  <div>
    <h2>Hire Your Fighter!</h2>
  </div>
  <div class="btn-container">
    <div>
      <a href="#">My fighters</a>
    </div>
    <div>
      <img src="https://cdn.iconscout.com/icon/free/png-256/free-avatar-370-456322.png?f=webp" alt="avatar" class="avatar">
    </div>
  </div>
</div>
